body, html {
    height: 100%;
}

#hiv {
    width: 50px;
    height: 50px;
}

.bg {
    background-image: url("images/bg7.jpeg");
    background-color: lightblue;  
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg h1{
    font-size: 40px;
    color: #ffffff;
}